body {
	background-color: #121E38;
	font-family: 'Open Sans', Arial;
	position: relative;
}
#main-area {
	height: 100%;
	width: 65%;
	margin: 0 auto;
}
header {
	height: 400px;
	max-height: 400px;
	background: url(bg.jpg) center/120% no-repeat;
	margin-top: -27px;
	display: block;
}
header > h1, header > span {
	font-family: 'Berkshire Swash';
	color: #663D77;
}
header > h1 {
	position: relative;
	top: 87px;
	left: 44px;
	font-size: 2.6em;
}
header > span {
	position: relative;
	top: 55px;
	left: 85px;
}
#menu a, #menu a:active, #menu a:hover, #menu a:link {
	text-decoration: none;
}
#menu {
	text-align: center;
}
#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu li {
	display: inline-block;
}
#menu li a {
	display: inline-block;
	padding: 10px 25px;
}
#menu li:hover {
	background-color: #374291;
}
#menu li a, #menu li a:link, #menu li a:hover, #menu li a:active {
	color: #fff;
}
.content {
	font-size: 15px;
	line-height: 1.5em;
	color: #303030;
	background-color: #fff;
	padding: 30px 20px;
}
.content h1 {
    font-family: 'Berkshire Swash';
}
.content p {
	margin: 10px 0;
}
#rsvp-form {
	width: 50%;
	margin: 0 auto;
	text-align: left;
}
#choices div {
	width: 50%;
}
#choices div:first-child {
	float: left;
}
#choices div:last-child {
	float: right;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}

input, textarea {
	box-sizing: border-box;
	padding: 5px;
}

textarea {
	border: 1px solid #CCCCCC;
	resize: none;
	width: 100%;
}

#rsvp-form button {
    background: none repeat scroll 0 0 #ECECEC;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    padding: 7px;
    text-transform: uppercase;
}

.aligned span:first-child {
	display: inline-block;
	min-width: 150px;
}

@media screen and (max-width: 1025px) {

	header {
		background: transparent url("bg.jpg") no-repeat scroll center center / 180% auto;
	}

	#menu {
		text-align: left;
	}

	#menu li a {
		padding: 10px 16px;
	}

	#rsvp-form {
		width: 85%;
	}

	#choices label {
		margin: 6px 0;
		display: inline-block;
	}

}

@media (max-width:1025px) and (min-width:767px) {
	header > h1 {
		left: 23px;
	}
}

@media screen and (max-width: 500px) {

	header {
		background: transparent url("bg.jpg") no-repeat scroll center center / 500% auto;
	}

	#choices div {
		width: 100%;
	}
	#choices div:first-child {
		float: inherit;
	}
	#choices div:last-child {
		float: inherit;
	}

	#rsvp-form input {
		width: 100%;
	}

	#choices label {
		margin: 6px 0;
		display: inline-block;
		width: 100%;
	}

}
